<header class="cabecalho-principal">
    <div class="logo">
        <strong>🐎 Meu Sistema MVC</strong>
    </div>
    <nav>
        <ul class="menu-lista">
            <li><a href="/">Home</a></li>
            <li><a href="/sobre">Sobre</a></li>
            <li><a href="/contato">Contato</a></li>
            <li><a href="/produtos">Produtos</a></li>
        </ul>
    </nav>
</header>