<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/CSS/style.css">
    <title>Contato</title>
</head>
<body>
    <%- include('partials/header') %>
    <main class="conteudo-principal">
        <h1>Contato</h1>
        <form>
            <input type="text" class="campo-texto" placeholder="Seu Nome">
            <button type="button" class="botao-acao botao-verde">Enviar</button>
        </form>
    </main>
</body>
</html>