<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/CSS/style.css">
    <title>Início</title>
</head>
<body>
    <%- include('partials/header') %>
    <main class="conteudo-principal">
        <h1>Página Inicial</h1>
        <p>Bem-vindo ao nosso sistema estruturado em MVC!</p>

        <hr> <h3>Nossos Produtos em Destaque</h3>
        
        <% if (produtos.length > 0) { %>
            <table class="tabela-produtos">
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Preço</th>
                    </tr>
                </thead>
                <tbody>
                    <% produtos.forEach(p => { %>
                    <tr>
                        <td><%= p.nome %></td>
                        <td>R$ <%= p.preco %></td>
                    </tr>
                    <% }) %>
                </tbody>
            </table>
        <% } else { %>
            <p>Ainda não temos produtos cadastrados no estoque.</p>
        <% } %>
        
    </main>
</body>
</html>