<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/CSS/style.css">
    <title>Início</title>
</head>
<body>
    <%- include('partials/header') %>
    <main class="conteudo-principal">
        <h1>Página Inicial</h1>
        <p>Bem-vindo ao nosso sistema estruturado em MVC! Use o menu acima para navegar.</p>
    </main>
</body>
</html>