<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/CSS/style.css">
    <title>Sobre</title>
</head>
<body>
    <%- include('partials/header') %>
    <main class="conteudo-principal">
        <h1>Sobre o Projeto</h1>
        <p>Este projeto foi criado para treinar a separação de pastas e lógica de servidor.</p>
    </main>
</body>
</html>